@import "~bootstrap/dist/css/bootstrap.css";
.custom-dialog-tai .mat-dialog-container {
  position: relative;
  padding: 0;
  overflow: visible;
  border-radius: 40px;
  background: none;
  box-shadow: none;
}
