<div class="container-fluid mt-3">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h4 class="fw-bolder">LỊCH SỬ ĐĂNG BÀI</h4>
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="row justify-content-center">
            <form class="d-flex" [formGroup]="formSearch" #searchInfo (ngSubmit)="onSearch(searchInfo)">
              <div class="col-md-3">
                <select class="form-select" aria-label="Default select example" name="kindOfNew"
                        formControlName="kindOfNew">
                  <option selected>Loại tin</option>
                  <option value="1">Tin Bán</option>
                  <option value="2">Tin cho thuê</option>
                </select>
              </div>
              <div class="col-md-3 ms-3">
                <select class="form-select" aria-label="Default select example" name="realOfType"
                        formControlName="realOfType">
                  <option selected>Loại BĐS</option>
                  <option value="1">Đất</option>
                  <option value="2">Nhà ở</option>
                </select>
              </div>
              <div class="col-md-4 ms-3">
                <div class="">
                  <input class="form-control  me-2" type="search" name="title" formControlName="title"
                         placeholder="Tìm theo tiêu đề">

                </div>
              </div>
              <div class="col-md-2 ms-4">
                <button class="btn btn-outline-warning text-light" type="submit"
                        style="background-color: #FE9900">Tìm kiếm
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="d-flex text-decoration-none mt-3">
        <a class="me-3 text-decoration-none text-dark" href="#">Tất cả</a>
        <a class="me-3 text-decoration-none text-dark" href="#">Nhà ở</a>
        <a class="me-3 text-decoration-none text-dark" href="#">Đất</a>
      </div>
      <!--            <div class="square" data-mdb-toggle="animation" data-mdb-animation-start="onHover"-->
      <!--                 data-mdb-animation="zoom-in" data-mdb-animation-reset="true" style="animation-duration: 500ms;">-->
      <!--                zoom-in-->
      <!--            </div>-->
      <div class="card-group mt-3">
        <div class="row">
          <div class="card mb-3" *ngFor="let item of realEstateNews let i = index">
            <div class="row no-gutters">
              <div class="col-md-3 mt-3">
                <img src="{{item.imageList[0].url}}"
                     style="height: 90%" class="card-img" alt="...">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <div class="">
                    <h5 class="fw-bolder">{{item.title | uppercase}}</h5>
                    <p class="">{{item.description}}</p>
                    <span class=" text-danger fw-bolder fs-4">
                      Giá:
                      <span *ngIf="item.price/1000000000 != 0">
                      {{(item.price / 1000000000 + item.price % 1000000000)}} tỷ
                    </span>
                      <span *ngIf="item.price/100000000 == 0 && item.price/100000">
                      {{(item.price / 1000000 + item.price % 1000000)}} triệu
                    </span></span> <span
                    class="">Diện tích: {{item.area}}²</span>
                    <div class="float-end mb-3">
                      <button class="fs-6 btn btn-sm btn-warning text-white" routerLink=""
                              style="background-color: #FE9900">
                        Xem chi tiết
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mb-3">
            <button class="fs-6 btn btn-warning text-white fw-bolder" routerLink=""
                    style="background-color: #FE9900">
              Xem thêm +
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
