<p>update-password works!</p>

<div class="col-10 m-auto p-5 card-header">
  <h2>Customer Update</h2>
  <a [routerLink]="'/customer'">
    <button type="button" class="btn btn-warning ">Customer list</button>
  </a>
  <form [formGroup]="appUserForm" (ngSubmit)="updatepassword()" class="card-body">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="exampleInputEmail1">user name</label>
        <input type="hidden" formControlName="id">
        <input type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp"
               placeholder="Nguyen van A" formControlName="userName" >
        <div *ngIf="appUserForm.controls.userName.dirty &&appUserForm.controls.userName.hasError('required')">
          <p class="text-danger">please input</p>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="exampleInputEmail1">Password cũ</label>
        <input type="hidden" formControlName="id">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Nguyen van A" formControlName="password" >
        <div *ngIf="appUserForm.controls.password.dirty &&appUserForm.controls.password.hasError('required')">
          <p class="text-danger">please input</p>
        </div>
      </div>
    </div>


    <div class="form-group col-md-4">
      <label for="inputCity2">Password mới</label>
      <input type="text" class="form-control" id="inputCity2" formControlName="password" placeholder="9X || 12X">
      <div *ngIf="appUserForm.controls.password.dirty &&appUserForm.controls.password.hasError('required')">
        <p class="text-danger">không được trống</p>
      </div>
      <div *ngIf="appUserForm.controls.password.dirty &&appUserForm.controls.password.hasError('pattern')">
        <p class="text-danger">Mật khẩu phải có ít nhất 1 ký tự hoa, 1 thường và 1 số và dài 8 ký tự </p>
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="inputZip">Xác nhận Password</label>
      <input type="text" class="form-control" id="inputZip" formControlName="password" placeholder="">


      <button type="submit" class="btn btn-primary" (click)="appUserForm.valid">Submit</button>

    </div>
  </form>
</div>
